<form
  id="messageForm"
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(loginForm)"
  class="hidden"
>
  <span class="closeButton" (click)="hideForm()">&times;</span>
  <p class="notImplemented">enregistrement de message non implémenté</p>
  <div>
    <textarea
      type="text"
      name="message"
      id="message"
      placeholder="Ecrivez votre message ici"
      ngModel
      required
    ></textarea>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Créer le message</button>
</form>
