back/src/main/resources/application-prod.properties
mémo.txt
assets/4_Link_Green_1.png
assets/background.tsx
assets/Beginning Area.gif
assets/Browser Games - Super Mario Bros Crossover - Dark Link Game Boy - Zelda II The Adventures of Link.png
assets/Browser Games - Super Mario Bros Crossover - Link - Links Awakening.png
assets/Browser.gif
assets/Browser.png
assets/Custom Edited - The Legend of Zelda Customs - Link Micro Mages-Style.png
assets/Fairies.png
assets/Font.gif
assets/Game Boy GBC - Marzipan Beef Reverser Homebrew - Dialogue Font.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Dream Shrine.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Fishing Pond.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - House Tileset.gif
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Link.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Map Objects.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Menu.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Mid Bosses.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Minor Enemies.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - NPCs.png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - NPCs(1).png
assets/Game Boy GBC - The Legend of Zelda Links Awakening DX - Weapons Items & HUD.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Ages - Ancient Tomb.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Ages - Dr Troys Hut.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Ages - Eyeglass Isle Library.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Ages - Link.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Ages - Mask Shop.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Ages - Plens House.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Ages - Post Office.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Seasons - Ancient Ruins.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Seasons - Horon Village Houses.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Seasons - House Tiles.gif
assets/Game Boy GBC - The Legend of Zelda Oracle of Seasons - Link.png
assets/Game Boy GBC - The Legend of Zelda Oracle of Seasons - Mayors House.gif
assets/Game Boy GBC - The Legend of Zelda Oracle of Seasons - Princess Zelda.png
assets/Ganon.png
assets/Horon Village Winter.gif
assets/Koholint - Copie.png
assets/Koholint Island Overworld.png
assets/Koholint Island Overworld(1).png
assets/Koholint.png
assets/LegendOfZelda-Link'sAwakeningDX-Angler'sTunnel.png
assets/LegendOfZelda-Link'sAwakeningDX-BottleGrotto.png
assets/LegendOfZelda-Link'sAwakeningDX-Catfish'sMaw.png
assets/LegendOfZelda-Link'sAwakeningDX-ColorDungeon.png
assets/LegendOfZelda-Link'sAwakeningDX-Eagle'sTower.png
assets/LegendOfZelda-Link'sAwakeningDX-FaceShrine.png
assets/LegendOfZelda-Link'sAwakeningDX-KeyCavern.png
assets/LegendOfZelda-Link'sAwakeningDX-TailCave.png
assets/LegendOfZelda-Link'sAwakeningDX-TurtleRock.png
assets/LegendOfZelda-OracleOfSeasons-Holodrum(Default).png
assets/LegendOfZelda-OracleOfSeasons-Holodrum(Fall).png
assets/LegendOfZelda-OracleOfSeasons-Holodrum(Spring).png
assets/LegendOfZelda-OracleOfSeasons-Holodrum(Summer).png
assets/LegendOfZelda-OracleOfSeasons-Holodrum(Winter).png
assets/Link.gif
assets/Maple the Witch.gif
assets/Music.zip
assets/NPCs Ages.png
assets/NPCs Seasons.png
assets/Sans titre.png
assets/Seashell Mansion.png
assets/South Face Shrine Mural.png
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Cavern.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Essence Obtained!.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons GAME OVER.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Horon Village.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Intro + Title Screen.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Lvl 1 Gnarled Root Dungeon.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Lvl 2 Snake's Remains.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Lvl 7 Explorer's crypt.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Main Theme.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Maku Tree's theme.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Sacred Place.WAV
assets/Music/LoZ Oracle of Seasons BGMs/LoZ Oracle of Seasons Tarm Ruins.WAV
