<div id="menu-container">
  <div class="burger-menu" [class.active]="menuOpen" (click)="toggleMenu()">
    &#9776;
  </div>
  <div class="menu-content" [class.active]="menuOpen">
    <span class="closeButton" [class.active]="menuOpen" (click)="toggleMenu()"
      >&times;</span
    >
    <h1>{{ config?.me?.menuName }}</h1>
    <h3 (click)="changeSection('quests')">Quêtes:</h3>
    <div *ngIf="!isSmartphone || currentSection === 'quests'">
      <ul>
        <li class="AchievementDone" id="playerHouse">
          <a>Parler au dev pour découvrir son monde</a>
        </li>
        <li [class.AchievementDone]="(achievements$ | async)?.cv" id="cvHouse">
          <a>Visiter la CV House</a>
          <ul>
            <li
              [class.AchievementDone]="(achievements$ | async)?.cvDownload"
              id="cvHouseDownload"
            >
              Télécharger le CV
            </li>
          </ul>
        </li>
        <li
          [class.AchievementDone]="(achievements$ | async)?.portfolio"
          id="portfolioHouse"
        >
          <a>Découvrir la portfolio house</a>
        </li>
        <li
          [class.AchievementDone]="(achievements$ | async)?.link"
          id="linkHouse"
        >
          <a>Aller à la link house</a>
          <ul>
            <li
              [class.AchievementDone]="(achievements$ | async)?.linkClick"
              id="linkClicked"
            >
              Cliquer sur un lien
            </li>
          </ul>
        </li>
        <li
          [class.AchievementDone]="(achievements$ | async)?.phone"
          id="contactHouse"
        >
          <a>Trouver la phone house</a>
          <ul>
            <li
              [class.AchievementDone]="(achievements$ | async)?.phoneContact"
              id="contactMe"
            >
              Contacter le dev
            </li>
          </ul>
        </li>
        <li
          [class.AchievementDone]="(achievements$ | async)?.guestBook"
          id="guestBookHouse"
        >
          <a>Enqueter sur le livre d'or </a>
          <ul>
            <li
              [class.AchievementDone]="
                (achievements$ | async)?.guestBookComment
              "
              id="postComment"
            >
              Déposer un commentaire
            </li>
          </ul>
        </li>
        <li
          [class.AchievementDone]="(achievements$ | async)?.achievementVarious"
          id="variousHouse"
        >
          <a>Aller à la maison divers </a>
        </li>
        <li
          [class.AchievementDone]="(achievements$ | async)?.achievementCredit"
          id="creditHouse"
        >
          <a>Voir les credits</a>
        </li>
      </ul>
    </div>
    <h3 (click)="changeSection('save')">(s')enregistrer</h3>
    <div *ngIf="!isSmartphone || currentSection === 'save'">
      <form (ngSubmit)="onSubmit()">
        <button
          id="changeLoginPassButton"
          type="button"
          (click)="onChangeUser()"
          class=""
          *ngIf="isAuthenticated && !tryToDeleteUser"
        >
          Changer de héros <small>(changer pseudo/pass)</small>
        </button>
        <div *ngIf="changeLoginPassError" class="error">
          {{ changeLoginPassError }}
        </div>
        <label *ngIf="!tryToDeleteUser" for="pseudo">Pseudo:</label>
        <input
        *ngIf="!tryToDeleteUser"
          placeholder="votre pseudo, ex: Link"
          id="pseudo"
          name="pseudo"
          [(ngModel)]="pseudo"
          required
        />
        <label *ngIf="!tryToDeleteUser" for="password">Mot de passe:</label>
        <input
        *ngIf="!tryToDeleteUser"
          placeholder="votre mot de passe, ex: Zelda"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />

        <button
          id="signUpButton"
          type="button"
          (click)="onSignUp()"
          class=""
          *ngIf="!isAuthenticated && !tryToDeleteUser"
        >
          Sauvegarder <small>(sign up)</small>
        </button>

        <div *ngIf="signUpError" class="error">
          {{ signUpError }}
        </div>
        <button
          id="logOutButton"
          type="button"
          (click)="onLogout()"
          class=""
          *ngIf="isAuthenticated && !tryToDeleteUser"
        >
          Quitter <small>(logout)</small>
        </button>
        <button
          id="triggerdeleteUserButton"
          type="triggerbutton"
          (click)="onTriggerDeleteUser()"
          class=""
          *ngIf="isAuthenticated && !tryToDeleteUser"
        >
          Supprimer la partie <small>(Supprimer utilisateur)</small>
        </button>
        <div *ngIf="tryToDeleteUser">
          <p>
            Cette action est irréversible et supprimera également tous vos messages. Voulez-vous vraiment continuer&nbsp;?
          </p>
        </div>
        <button
          id="deleteUserButtonYes"
          type="button"
          (click)="onDeleteUserYes()"
          class=""
          *ngIf="isAuthenticated && tryToDeleteUser"
        >
          finish him <small>(oui)</small>
        </button>
        <button
          id="deleteUserButtonNo"
          type="button"
          (click)="onDeleteUserNo()"
          class=""
          *ngIf="isAuthenticated && tryToDeleteUser"
        >
          It's dangerous to go alone! <small>(non)</small>
        </button>
        <button
          id="loginButton"
          type="button"
          (click)="onLogin()"
          class=""
          *ngIf="!isAuthenticated"
        >
          Charger <small>(login)</small>
        </button>
        <div *ngIf="loginError && !tryToDeleteUser" class="error">
          {{ loginError }}
        </div>
      </form>
    </div>
    <h3 (click)="changeSection('noTime')">CV</h3>
    <div *ngIf="!isSmartphone || currentSection === 'noTime'">
      <a href="assets/docs/CV.pdf" download="Verscheure-Quentin-CV">
        <p class="clickable">- Télécharger le CV</p>
      </a>
    </div>
  </div>
</div>
